<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="Debugger" name="debug" layout="${uppercase:${level}}&#009;${logger:shortName=True}&#009;${message} ${exception:format=ToString}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.AspNetCore.*" maxLevel="DEBUG" writeTo="blackhole" final="true"/>
    <logger name="*" writeTo="debug" />
  </rules>
</nlog>